.restaurant-entry {
  padding: 10px;

  &:nth-child(even) {
    background: #ccc;
  }

  & .get-reviews {
    display: block;
    margin: 0 auto;
  }

  & .image-responsive {
    height: auto;
    width: 100%;
  }

  & figure {
    & h5 {
      text-align: center;

      & .restaurant-link {
        font-size: 1.2rem;
        text-decoration: none;
        display: inline-block;
        padding: 2px;

        &:link {
          color: hotpink;
        }

        &:visited {
          color: black;
        }

        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
          font-size: 1.3rem;
        }
      }
    }
  }

  & .add-review {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  & .control-container {
    font-size: 0.8rem;
    padding-top: 5px;

    & > label {
      display: inline-block;
      display: table;
      width: 100%;

      & > span {
        display: table-cell;
        vertical-align: middle;
        width: 100px;
      }

      & > input {
        display: table-cell;
        margin-left: 10px;
        width: auto;
      }
    }
  }
}
