.restaurant-entry {
  padding: 10px;

  &:nth-child(even) {
    background: #ccc;
  }

  & .get-reviews {
    display: block;
    margin: 0 auto;
  }

  & .image-responsive {
    height: auto;
    width: 100%;
  }

  & figure {
    & h5 {
      text-align: center;
    }
  }

  & .control-container {
    & > label {
      display: inline-block;
      display: table;
      width: 100%;

      & > span {
        display: table-cell;
        width: 100px;
      }

      & > input {
        display: table-cell;
        margin-left: 10px;
        width: auto;
      }
    }
  }
}
